---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
.fr{
    float:right;
}
.fl{
    float:left;
}
.clear {
    clear: both;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.head {
    width: 100%;
    height: 250px;
    
    background-size: 600px;
}
html,body{
    width: 100%;
    overflow-x: hidden
}
.head-content {
    width: 20%;
    min-width:300px;
    height: 205px;
    margin: 0 auto; 
    overflow: hidden;
}

.head-portrait {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: #fff;
    margin: 20px 10px 10px 100px;
    overflow: hidden;
    float: left;
}
.head-portrait-pic{
    margin:3px 3px 3px 3px;
    width:120px;
    height: 120px;
    border-radius: 50%;
}

.head-name {
    margin: 0 auto;
    width: 100px;
    
    color: #fff;
    margin: 120px 0 0 100px;
}

.nav {
    background: #0029A3;
    width: 100%;
    height: 45px;
    margin: 10px auto 0 auto;
}

.head-bg{
    position:absolute;
    left:0;
    top:0;
    min-width:1200px;
    z-index:-1;
}
.spe-width{
    min-width:130px;
}
.nav-content {
    max-width: 800px;
    min-widht: 220px;    
    margin: 0 auto;         
    float: CENTER;
}

.nav li {
    float: left;
    padding: 10px 0;
    height: 25px;
    width:33%;
    min-width:50px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    list-style-type:none;
   
}
.nav li a{
     color:#fff;
     text-decoration :none
}

.nav li:hover {
    background: #0038E0

}

.nav-about {
    float: right;
}
