<script type="text/javascript">
var duoshuoQuery = {short_name:"jucsinyu"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!--多说js加载结束，一个页面只需要加载一次 -->
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>
     <a class ="visit-head" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS订阅</a>
   
     <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3 ">
        <ul class="ds-recent-visitors" data-num-items="14" data-avatar-size="32"></ul>
      </div>
      <div class="footer-col footer-article">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
