<!DOCTYPE html>
<header class="site-header">
       <div class="head">
       </nav>
      <img class="head-bg" src="http://7xofac.com1.z0.glb.clouddn.com/267578.jpg">

    <div class="container">   
      <section class="main">
        <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <h3>Jucsin's blog</h3>
                <p>love  佳 <a href="http://jucsinyu.com">Android coder</a></p>
              </div>
            </div>
        </ul>
      </section>
    </div>
     <!-- <P><h1 <a class="head-name" href="{{ site.baseurl }}/"></a>Jucsinsun</h1></p> -->
    </div>
    <div class="nav">
        <div class="nav-content">
            <ul class="clear">
                <li><a href="{{ site.baseurl }}/">文章</a></li>
                <li class="spe-width" style="min-width:120px;"><a class="page-link" href="{{ "/freeorgcqupt" | prepend: site.baseurl }}">自由软件组织</a></li>               
                <li><a class="page-link" href="{{ "/about" | prepend: site.baseurl }}"> About</a></li>

            </ul>
        </div>
    </div>
</div> 

</header> 
