<header class="site-header">

<!--   <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div> -->
<div class="head">
    
    <div class="head-content">
        <div class="head-portrait">
          <img class="head-portrait-pic" src="http://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=%E6%B5%B7%E8%B4%BC%E7%8E%8B&step_word=&pn=11&spn=0&di=100665513410&pi=&rn=1&tn=baiduimagedetail&is=&istype=0&ie=utf-8&oe=utf-8&in=&cl=2&lm=-1&st=undefined&cs=2294641597%2C1984868856&os=2505585940%2C1057503222&simid=3539924876%2C554653879&adpicid=0&ln=1000&fr=&fmq=1448270294543_R&ic=undefined&s=undefined&se=&sme=&tab=0&width=&height=&face=undefined&ist=&jit=&cg=&bdtype=0&objurl=http%3A%2F%2Fi10.topit.me%2Fo108%2F1010881284c8540d65.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Bp5rtp_z%26e3B4jAzdH3Ftpj4AzdH3Fc8mlccb&gsm=0" alt="">
        </div>
        <h1 class="head-name">jucsin</h1>
    </div>

    <div class="nav">
        <div class="nav-content">
            <ul class="clear">
                <li>
                    <a href=""></a>article</li>
                <li>
                    <a href=""></a>about</li>
            </ul>
        </div>
    </div>
</div> 


</header>
